@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Press Start 2P', cursive;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f5f5f5;
}