body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 20px;
    text-align: center;
}

hr {
    margin: 10px 0;
    border-top: 3px solid #bbb;
    border-radius: 5px;
}

.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    max-width: 450px;
    min-height: 300px;
}

.image, #imgPokemon {
    text-align: center;
}

.image img {
    width: 90%;
}

.group-form {
    padding: 5px 0;
}

.group-form label {
    font-weight: 900;
    color: #1b356e;
}

.group-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    border-radius:  5px;
    margin: 5px 0;
}

.group-form input[type=submit] {
    background: #1b356e;
    font-weight: 900;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

#imgPokemon img {
    width: 120px;
    border: 1px solid #333;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin: 10px;
}

#content {
    font-family: monospace;
    padding: 10px;
    background-color: #ffcc01;
    border: 1px solid #c8a102;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #333;
}